<div class="form">
	<form action="/pokemon/<%= @pokemon.id %>" method="post">
		<input type="hidden" name="_method" value="put">
		<label>
			Name: <input type="text" name="pokemon[name]" value="<%= @pokemon.name %>"><br>
		</label>
		Pokemon TYPE: 
		<div class="type-wrapper">
			<label>
				<input type="radio" checked="checked" name="pokemon[poke_type]" value="Normal"></input>
				<span class="type-icon type-normal">Normal</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Fire"></input>
				<span class="type-icon type-fire">Fire</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Water"></input>
				<span class="type-icon type-water">Water</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Electric"></input>
				<span class="type-icon type-electric">Electric</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Grass"></input>
				<span class="type-icon type-grass">Grass</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Ice"></input>
				<span class="type-icon type-ice">Ice</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Fighting"></input>
				<span class="type-icon type-fighting">Fighting</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Poison"></input>
				<span class="type-icon type-poison">Poison</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Ground"></input>
				<span class="type-icon type-ground">Ground</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Flying"></input>
				<span class="type-icon type-flying">Flying</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Psychic"></input>
				<span class="type-icon type-psychic">Psychic</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Bug"></input>
				<span class="type-icon type-bug">Bug</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Rock"></input>
				<span class="type-icon type-rock">Rock</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Ghost"></input>
				<span class="type-icon type-ghost">Ghost</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Dragon"></input>
				<span class="type-icon type-dragon">Dragon</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Dark"></input>
				<span class="type-icon type-dark">Dark</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Steel"></input>
				<span class="type-icon type-steel">Steel</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Fairy"></input>
				<span class="type-icon type-fairy">Fairy</span>
			</label>
		</div>

		<label>
			Image URL: <input type="text" name="pokemon[img_url]" value="<%= @pokemon.img_url %>"><br>
		</label>
		<label>
			CP: <input type="text" name="pokemon[cp]" value="<%= @pokemon.cp %>"><br>
		</label>
		<input type="submit" value="Update Pokemon">
	</form>

	<form class="remove" action="/pokemon/<%= @pokemon.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="delete">
	</form>
</div>